@import '../../styles/variables';

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 1em;
}

.book-title {
  margin-top: 15px;
  font-size: 1.25em;
  font-weight: bold;
  color: $foreground-color;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 1.25em;
}

.columnsContainer { position: relative; margin: .5em; }

.leftColumn, .rightColumn {  padding: 1.25em; }

.leftColumn { margin-bottom: .5em; }

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 19.5em; }

	.rightColumn { position: absolute; top: 0; right: 0; width: 18.75em; }
}
